<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Weather Workout</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</head>

<body>
  <div class="title">
    <h1>Weather Workout</h1>
    <h2>Description</h2>
  </div>
  <div class="">
    <form class="" action="/results" method="post">
      <div class="">
        <label for="">Indoor workout days:</label>
        <input type="number" class="indoorInput" name="indoor" value="" id="indoor">
      </div>
      <div class="">
        <label for="">Outdoor workout days:</label>
        <input type="number" class="outdoorInput" name="outdoor" value="" id="outdoor">
      </div>
      <div class="">
        <label for="">Rest days:</label>
        <input type="number" class="restDays" name="" value="" id="rest" readonly>
      </div>
      <div class="">
        <h4>Prefered workout days:</h4>
        <label for="monday">Monday:</label>
        <input type="checkbox" id="monday" value="" name="mondayCB">
        <label for="tuesday">Tuesday:</label>
        <input type="checkbox" id="tuesday" value="" name="tuesdayCB">
        <label for="wednesday">Wednesday:</label>
        <input type="checkbox" id="wednesday" value="" name="wednesdayCB">
        <label for="thursday>Thursday:</label>
        <input type="checkbox" id="thursday" value="" name="thursdayCB">
        <label for="friday">Friday:</label>
        <input type="checkbox" id="friday" value="" name="fridayCB">
        <label for="saturday">Saturday:</label>
        <input type="checkbox" id="saturday" value="" name="saturdayCB">
        <label for="sunday">Sunday:</label>
        <input type="checkbox" id="sunday" value="" name="sundayCB">
      </div>
      <div class="">
        <button type="submit" name="button">Submit</button>
      </div>
    </form>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="scripts/script.js" charset="utf-8"></script>
</body>

</html>
