.custom-table{
  border:1px solid black;
  width:80%;
  margin:auto;
}

.pref-table{
  border-collapse:collapse;
}

.pref-table td { border-left: 1px solid #000; }
.pref-table td:first-child { border-left: none; }

body{
  text-align:center;
}

.title{
  margin-top:2rem;
  margin-bottom:2rem;
}

.input-row{
  width:40%;
  margin:auto;
  margin-bottom:1rem;
}

.submit-button{
  margin: 2rem 2rem;
}

/* Results */
